**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
!wwwroot/node_modules/markdown/bin/md2html.js
!wwwroot/node_modules/nopt/bin/nopt.js
**/charts
**/docker-compose*
**/Dockerfile*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md